* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toogle {
    width: 60px;
    height: 60px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.toogle i {
    font-size: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.toogle:hover i {
    color: indianred;
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
nav.open {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
nav .links {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
nav .close  {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
nav .close:hover {
    background-color: white;
}
nav .close i {
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
nav .close:hover i {
    color: black;
}
nav a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    list-style: none;
    line-height: 75px;
    font-size: 30px;
    font-weight: bold;
}






